<div class="col col-6 col-lg-3 col-md-4 mt-3">
  <div class="card">
    <img src="assets/img/product/001.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hạt kim cương xanh dương</h5>
      <p class="card-text">Hạt màu xanh trong sáng, có nhiều kích thước</p>
      <div class="btn btn-group" style="width: 100%; padding: 0px;">
        <a href="#" class="btn btn-primary btn-sm"><i class="fa-duotone fa-cart-plus"></i> Mua</a>
        <a href="#" class="btn btn-success btn-sm"><i class="fa-solid fa-ellipsis-vertical"></i></a>
      </div>
    </div>
  </div>
</div>
<div class=" col col-6 col-lg-3 col-md-4 mt-3">
  <div class="card">
    <img src="assets/img/product/002.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hạt kim cương màu hồng</h5>
      <p class="card-text">Hạt màu xanh trong sáng, có nhiều kích thước</p>
      <div class="btn btn-group" style="width: 100%; padding: 0px;">
        <a href="#" class="btn btn-primary btn-sm"><i class="fa-duotone fa-cart-plus"></i> Mua</a>
        <a href="#" class="btn btn-success btn-sm"><i class="fa-solid fa-ellipsis-vertical"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="col col-6 col-lg-3 col-md-4 mt-3">
  <div class="card">
    <img src="assets/img/product/003.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hạt kim cương xanh ngọc</h5>
      <p class="card-text">Hạt màu xanh trong sáng, có nhiều kích thước</p>
      <div class="btn btn-group" style="width: 100%; padding: 0px;">
        <a href="#" class="btn btn-primary btn-sm"><i class="fa-duotone fa-cart-plus"></i> Mua</a>
        <a href="#" class="btn btn-success btn-sm"><i class="fa-solid fa-ellipsis-vertical"></i></a>
      </div>
    </div>
  </div>
</div>
<div class=" col col-6 col-lg-3 col-md-4 mt-3">
  <div class="card">
    <img src="assets/img/product/005.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hạt kim cương xanh biển</h5>
      <p class="card-text">Hạt màu xanh trong sáng, có nhiều kích thước</p>
      <div class="btn btn-group" style="width: 100%; padding: 0px;">
        <a href="#" class="btn btn-primary btn-sm"><i class="fa-duotone fa-cart-plus"></i> Mua</a>
        <a href="#" class="btn btn-success btn-sm"><i class="fa-solid fa-ellipsis-vertical"></i></a>
      </div>
    </div>
  </div>
</div>
