<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <button
      (click)="changeIconNav()"
      class="navbar-toggler btn-tog"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i
        class="fa-solid fa-lg w-22"
        [ngClass]="isToggleNav ? 'fa-xmark' : 'fa-bars'"
      ></i>
    </button>
    <a class="navbar-brand" id="navbar-hamburger" routerLink="/home"><img style="height: 30px;" src="assets/img/logovip.png" alt="logo"></a>
    <a class="navbar-brand position-relative" routerLink="/cart"
      >
      <i class="fa-duotone fa-cart-shopping fa-lg position-relative"></i>
      <span class="position-absolute top-10 translate-middle badge rounded-pill bg-danger">
        {{cartCount}}
      </span>
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" routerLink="/home"
            >Trang chủ</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#">Đơn hàng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold disabled">Tiện ích</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Tìm kiếm"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </div>
</nav>
