.bg-light {
  // background-color: rgba(51, 51, 51, 0.267) !important;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.1) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.navbar-brand {
  text-align: center;
}

.btn-tog {
  border: none;

  &:focus {
    border: none;
    box-shadow: none;
  }
}

.w-22 {
  min-width: 22px;
}

.badge {
  top: 10px;
  left: 30px;
  font-size: 12px !important;
  --bs-badge-padding-y: 0.3em;
  --bs-badge-padding-x: 0.5em;
}

.nav-icon {
  width: 20px;
  text-align: center;
}
